# Ignore all files
*

# Allow only certain type of files
!*.gitignore
!*.yml
!*.md
!*.tex

# Ignore common LaTeX build files
*.pdf
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.log
*.lof
*.lot
*.gz
*.ist
*.acn
*.
