# Ignore all files
*

# Allow only certain type of files
!*.gitignore
!*.yml
!*.md

# Ignore common LaTeX build files
!*.tex
!*.pdf
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.log
*.lof
*.lot
*.gz
*.ist
*.acn
*.
